<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method="POST" action="/delete">
        <div>
          <label for="user">Enter the message author -</label>
          <input id="user" type="text" name="user">
        </div>

        <div>
          <label for="pass">Enter password -</label>
          <input id="pass" type="text" name="pass">
        </div>
        <button>Submit</button>
    </form>

    <%  if(locals.error) { %>
        <p id="error"><%= error %></p>  
    <% } %>

  </body>
</html>
