body {
  padding: 50px;
  font-family: monospace;
  font-size: larger;
  text-align: center;
  color: white;
  background: url(../images/msg-board-back.png) fixed;
  background-size: 100% 100%;
}

li{
  text-align: left;
}

ul{
  margin-top: 5em;
  margin-bottom: 5em;
}

a {
  color:coral;
  display: block;
  margin-bottom: 2em;
}

form{
  margin-top: 5em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  text-align: left;
}

div{
  margin:auto;
  margin-bottom: 4em;
}

button{
  width: 5%;
  margin:auto;
}

#author{
  color:yellow;
}

#time{
  color:aqua;
}

#inputmsg{
  display: flex;
  flex-direction: row;
}

textarea{
  margin-left: 1.5em;
}

#error{
  color:lightcoral;
}