body {
  padding: 50px;
  font-family: monospace;
  font-size: larger;
  text-align: center;
  color: white;
  background: url(../images/msg-board-back.png) fixed;
  background-size: 100% 100%;
}

li{
  text-align: left;
  border: solid 1.5px white;
  border-radius: 1em;
  padding:1%;
  width:50%;
  margin: 2% 25% 0 25%;
  background-color:rgba(0, 40, 104, 0.33);
}

ul{
  margin-top: 5em;
  margin-bottom: 5em;
  list-style: none;
}

a {
  color:coral;
  display: block;
  margin-bottom: 2em;
  border: solid 1.5px coral;
  border-radius: 1em;
  padding:1%;
  width:30%;
  margin: 2% 35% 0 35%;
  background-color:rgba(0, 14, 46, 0.33);
}

form{
  margin-top: 5em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: solid 1.5px white;
  border-radius: 1em;
  padding:1%;
  width:50%;
  margin: 2% 25% 0 25%;
  background-color:rgba(0, 19, 50, 0.334);
}

div{
  margin:auto;
  margin-bottom: 4em;
}

button{
  width: 10%;
  margin:auto;
}

#author{
  color:yellow;
}

#time{
  color:aqua;
}

#inputmsg{
  display: flex;
  flex-direction: row;
}

textarea{
  margin-left: 1.5em;
}

#error{
  color:lightcoral;
}